@import "tailwindcss";

body {
  background-color: #040814;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f4f4f4;
  margin: 0;
  font-family: 'Poppins', sans-serif;

  
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at 50% 20%, rgba(255, 255, 255, 0.05), transparent 70%);
  pointer-events: none;
}