/* NAVBAR — Combinação perfeita com o body */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 5%;

  

 
 
}

/* LISTA */
.navbar ul {
  display: flex;
  gap: 1.35rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* LINKS */
.cursor {
  color: inherit;
  transition: color .2s ease;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.5px;

  
}
.navbar a:hover{
  color: inherit;
}
.a:hover {
  color: #6b14bd;
  /* cor roxa no hover */
}

.navbar a:hover {
  color: var(--accent-1);

  transform: translateY(-2px);

  text-shadow:
    0 0 8px rgba(255, 120, 40, 0.5),
    0 0 14px rgba(255, 85, 0, 0.35);
}

/* LOGO */
.navbar .logo {
  font-size: 1.45rem;
  font-weight: 700;
  letter-spacing: 1px;

  /* Cor laranja premium */
  color: var(--accent-3);

  transition: 0.25s ease;
}

.navbar .logo:hover {
  filter: brightness(1.18);

  text-shadow:
    0 0 14px rgba(255, 120, 40, 0.55),
    0 0 22px rgba(255, 85, 0, 0.35);
}